<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

<nav class="navbar">
<div class="search-container">
    <input class="form-control search-input" type="search" placeholder="Search" aria-label="Search">
    <button class="button-28 search-button" type="submit">Search</button>
  </div>
<div class="wrapper">
    <input type="checkbox" id="btn" hidden>
    <label for="btn" class="menu-btn">
      <i class="fas fa-bars"></i>
      <i class="fas fa-times"></i>
    </label>
    <nav id="sidebar">
      <div class="title">Side Menu</div>
      <ul class="list-items">
        <li><a href="#"><i class="fas fa-home"></i>Dashboard</a></li>
        <li><a href="#"><i class="fas fa-sliders-h"></i>Configuration</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i>Items</a></li>
        <li><a href="#"><i class="fas fa-cog"></i>Purchase</a></li>
        <li><a href="#"><i class="fas fa-stream"></i>Sale</a></li>
        <li><a href="#"><i class="fas fa-user"></i>Inventory MGMT</a></li>
        <li><a href="#"><i class="fas fa-globe-asia"></i>Parties</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>Accounts</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>Reports</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>Utilitites</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>Ecommerce</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>Security</a></li>
        <li><a href="#"><i class="fas fa-envelope"></i>Help</a></li>
        <li><a href="http://localhost:4200/login"><i class="fas fa-envelope"></i>Login</a></li>

        <div class="icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>

      </ul>
      
    </nav>
  </div>



  <div class="signup-header">
    <img src="./assets/angular-logo-black-and-white-1.png" alt="Logo">
</div>
</nav>
<div class="container">
    <div class="button-row">
      <div class="button-container">
        <img src="" alt="Icon" class="button-icon">
        <p>Item Definition</p>
      </div>
      <div class="button-container">
        <img src="" alt="Icon" class="button-icon">
        <p>GRN</p>
      </div>
      <div class="button-container">
        <img src="" alt="Icon" class="button-icon">
        <p>Sale And Return</p>
      </div>
    </div>
    <div class="button-row">
      <div class="button-container">
        <img src="" alt="Icon" class="button-icon">
        <p>C-01 Report</p>
      </div>
      <div class="button-container">
        <img src="" alt="Icon" class="button-icon">
        <p>D-01 Report</p>
      </div>
      <div class="button-container">
        <img src="" alt="Icon" class="button-icon">
        <p>A-01 Report</p>
      </div>
    </div>
  </div>

  <div class="info-container">
    <div class="refresh-container">
      <button class="refresh-button">Refresh</button>
    </div>
    <div class="display-row">
      <div class="display-box">
        <img src="" alt="Icon" class="display-icon">
        <p>Yesterday's Sale</p>
      </div>
      <div class="display-box">
        <img src="" alt="Icon" class="display-icon">
        <p>Receipt Count</p>
      </div>
    </div>
  
    <div class="display-row">
      <div class="display-box">
        <img src="" alt="Icon" class="display-icon">
        <p>Net Payable</p>
      </div>
      <div class="display-box">
        <img src="" alt="Icon" class="display-icon">
        <p>Net Receivable</p>
      </div>
    </div>
  
    <div class="display-row">
      <div class="display-box">
        <img src="" alt="Icon" class="display-icon">
        <p>Receipt Count</p>
      </div>
      <div class="display-box">
        <img src="" alt="Icon" class="display-icon">
        <p>Net Payable</p>
      </div>
    </div>
    <div class="chart-boxes">
        <div class="chart-box">
            <p>Stock Value by Cateogry</p>
            <img src="" alt="Icon" class="display-icon">
          </div>
          <div class="chart-box">
            <p>Sale by Cateogry</p>
            <img src="" alt="Icon" class="display-icon">
          </div>
          <div class="chart-box">
            <p>Weekly Sales</p>
            <img src="" alt="Icon" class="display-icon">
          </div>
      </div>
      
  </div>
  
  
  
  